body {
  background-image: url("/static/project_app/images/sf2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.container {
  background-color: #EAEBE6;
  width: 50%;
  display: inline-block;
  margin-left: 2%;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 12px black;
}
h1 {
  color: black;
  text-shadow: 3px 1px rgb(255, 255, 255);
  margin-left: 3%;
  margin-top: 2%;
 
  width: 49%;
  padding: 2px;
}
.place_edit {
  display: inline-block;
  width: 90%;
 
 
  padding: 1%;
  text-decoration: none;
}
button {
  box-shadow: 3px 3px 10px black;
}
.buttons{

}
.input-group,
.input-group-prepend {
  display: inline-block;
  margin-top: 2px;
  border-radius: 10px;
}
.input-group-text{
    margin-left:1px;
}
.options {
  display: inline-block;
}
.checked{
  margin-right: 90%;
}
.errors{
  width: 35%;
  background-color: white;
  color: red;
  margin-left: 3%;
  margin-top: 1%;
}
